<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="entityLog" class="ch.qos.logback.core.FileAppender">
        <file>entity.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="logger" level="INFO" additivity="false">
        <appender-ref ref="entityLog" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="entityLog" />
    </root>

</configuration>